/* Base Styles */

* {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  color: #000000;
}

body {
  background-image: url("background.jpg");
  background-color: pink;
}

p {
  padding: 10px;
  margin: 0;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

section {
	border-radius: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 15px black;
  background-color: lightsalmon;
  width: 100%;
  height: auto;
  font-family: Helvetica;
  color: black;
  position: relative;
  overflow: auto;
}

#chicken {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: blue;
}

#beef {
	color: white;
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: red;
}

#sushi {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  background-color: green;
  color: white;
  padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #ffffff;
}

#header-nav {
  border: 0;
  background-color: orange;
  color: #ffffff;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #ffffff;
}

.nav-brand {
  color: #ffffff;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}
